@media screen and (max-width: 1194px) {
  .categories>li {
    padding: 10px 40px;
  }
}

@media screen and (max-width: 1134px) {
  .categories>li {
    padding: 10px 35px;
  }
}

@media screen and (max-width: 1074px) {
  .categories>li {
    padding: 10px 30px;
  }
}

@media screen and (max-width: 1014px) {
  .categories>li {
    padding: 10px 25px;
  }
}

@media screen and (max-width: 954px) {
  .categories>li {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 916px) {
  .categories>li {
    width: 277px;
  }

  .categories li:nth-child(1) {
    border-radius: 10px 0 0 0;
  }

  .categories li:nth-child(2) {
    border-radius: 0 10px 0 0;
  }

  .categories li:nth-child(5) {
    border-radius: 0 0 0 10px;
  }

  .categories li:nth-child(6) {
    border-radius: 0 0 10px 0;
  }
}

@media screen and (max-width: 670px) {
  .categories>li {
    width: 240px;
  }
}

@media screen and (max-width: 596px) {
  .categories li:nth-child(1) {
    border-radius: 10px 10px 0 0;
  }

  .categories li:nth-child(2) {
    border-radius: 0 0 0 0;
  }

  .categories li:nth-child(5) {
    border-radius: 0 0 0 0;
  }

  .categories li:nth-child(6) {
    border-radius: 0 0 10px 10px;
  }
}