body {
  margin: 0;
  font-family: 'Chilanka', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: #222;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}